[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.suo
*.tmp
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
